<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2021 The LineageOS Project

     SPDX-License-Identifier: Apache-2.0
-->
<<<<<<<< HEAD:keyhandler/AndroidManifest.xml
========
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.aospa.picasso">
>>>>>>>> 8603f55 (picasso: Reborn~ AOSPA):rro_overlays/AOSPAPicassoFramworks/AndroidManifest.xml

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:sharedUserId="android.uid.system"
          package="org.lineageos.keyhandler">
</manifest>
